<%= form_with(model: entity, html: { id: "#{entity.class.to_s.underscore}-form" }) do |f| %>
  <%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>

  <dl>
    <% unless entity.id.nil? %>
      <dt><%= t('activerecord.attributes.pattern.language') %></dt>
      <dd><%= language_name(entity.language) %></dd>
    <% end %>

    <dt><%= f.label :title %></dt>
    <dd>
      <%=
        f.text_field(
            :title,
            id:        :pattern_name,
            size:      nil,
            maxlength: Pattern::TITLE_LIMIT,
            required:  true
        )
      %>
      <div class="guideline"><%= t('.guidelines.title') %></div>
    </dd>

    <dt><%= f.label :essence %></dt>
    <dd>
      <%=
        f.text_field(
            :essence,
            id:        :pattern_essence,
            size:      nil,
            maxlength: Pattern::ESSENCE_LIMIT
        )
      %>
      <div class="guideline"><%= t('.guidelines.essence') %></div>
    </dd>

    <dt><%= f.label :interpretation %></dt>
    <dd>
      <%=
        f.text_area(
            :interpretation,
            id:       :pattern_interpretation,
            cols:     80,
            rows:     25,
            required: true
        )
      %>
      <div class="guideline"><%= t('.guidelines.interpretation') %></div>
    </dd>
  </dl>

  <div class="buttons">
    <%= f.button t(:save), type: :submit, class: 'button-save' %>
  </div>
<% end %>
